# Discord Webhook for alerts
DISCORD_WEBHOOK_URL=

# Proxies (optional)
PROXY_LIST=

# Monitoring intervals (ms)
CHECK_INTERVAL=1000

# Sites to monitor
MONITOR_POKEMON_CENTER=true
MONITOR_TARGET=false
MONITOR_WALMART=false